.p {

box-shadow: aquamarine;

}

.h2 {

text-shadow: royalblue;

}


#Master {

background-image: url("MoO2.jpg");
background-size: cover;
font-size: 200px;

}


a:hover {

background-color: red;
transition: all;
font-size: 200px;

}


@media only screen and (max-width: 800px) {
    body {
      background-color: black;
      color:  white;


    }
  }

