.p {

box-shadow: aquamarine;


}


.h2 {

text-shadow: royalblue;


}


.Master {

background-image: image(MoO2.jpg)
background-size: cover;



}


a:hover {

background-color: red;
transition: all;

}




@media only screen and (max-width: 800px) {

body {

background-color: black;
color: white;

}
}